body {
  height: 100vh;
  background: #fd746c; 
  background: -webkit-linear-gradient(to right, #fd746c, #ff9068); 
  background: linear-gradient(to right, #fd746c, #ff9068);
}

/* HEADER */

.title-div {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size:40px;
  letter-spacing: 10px;
  outline: 10px solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* LOG IN */

.login-button-div{
  position: absolute;
  right:0;
  margin-right:7px;
}

.login-button {
  background: white;
  padding-right:30px;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border:none;
  border-radius:5px;
  color:#fd746c;
  cursor: pointer;
}

.login-form-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color:#fd746c;
  background: white;
  border-radius:10px;
  height: 80vh;
  width: 200px;
  padding: 20px;
}

.login-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.login-form-title {
  margin-top: 30px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 6px;
  padding-bottom:2px;
  border-radius:5px;
  border: 2px solid;
  margin-bottom: 50px;
}

.login-form-element{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

.login-form-button {
  background: #fd746c;
  padding-right:30px;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border:none;
  border-radius:5px;
  color:white;
  cursor: pointer;
}

.login-form-button:hover {
  background: #fd908a;
}

.center-block {
  outline: 2px solid;
  display: flex;
  flex-wrap: wrap;
}

/* INSTRUCTIONS TEXT */

.instructions-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 250px;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  font-size: 15px;
  text-align: justify;
  line-height: 25px;
}

/* INPUT DATA FORM */

.input-box {
  text-align:center;
  background: #ffb5b1;
  padding-right:30px;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border:none;
  border-radius:5px;
  color:white;
}

.input-data-div {

}

.input-data-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fd746c;
  background: white;
  border-radius:10px;
  height: 280px;
  width: 200px;
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.input-data-element{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input-box-select {
  text-align:center;
  background: #ffb5b1;
  color:white;
  outline: none;
  border:none;
  height: 30px;
  width: 185px;
}

.input-form-title {
  outline: 3px solid;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}